.box-layout {
  align-items: center;
  background: url('/img/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out($color: white, $amount: 0.15);
  border-radius: 3rem;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
  @media (min-width: $desktop-breakpoint) {
    width: 50rem;
  }
}

.box-layout__title {
  margin: 0 0 $s-size 0;
  line-height: 1;
}

.box-layout__subTitle {
  @extend .box-layout__title;
  font-size: $font-size-medium;
  font-weight: 400;
  color: $dark-grey;
  margin: 0 0 $l-size 0;
}

.box-layout__buttonArea {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $s-size 0;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 $m-size;
  }
}
