.button {
  background-color: $azure-blue;
  border: none;
  color: $white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 500;
  line-height: 1;
  padding: $m-size $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}

.button--alert {
  background: red;
}

.button--login {
  background: none;
  border: 1px solid $azure-blue;
  border-radius: 3rem;
  color: $azure-blue;
  font-size: $font-size-small;
  margin-bottom: $s-size;
  width: 135px;
  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-medium;
  }
}
